code/__pycache__/
pptENV/
ppts/*.pptx
ppts/past/*.pptx
code/json/*/*.json
code/json/*.json
code/data/slide_summary.json
.env
code/buffer/*.json
code/buffer/full/*.json
code/buffer/xtra/*.json
code/latex.py