code/data/*.csv
code/buffer/equations/
code/buffer/tables/
code/__pycache__/
pptgen/
ppts/*.pptx
code/json/*/*.json
code/json/*.json
code/data/slide_summary.json
.env
code/buffer/*.json
code/test.py
code/test2.py
code/utils/__pycache__/
code/buffer